<%= link_to 'Registrar uma nova subsidiaria', new_subsidiary_path %>

<% if @subsidiaries.none? %>
  <p>Nenhuma subsidiaria cadastrada</p>
<% end %>

<% @subsidiaries.each do |subsidiary| %>
  <%= link_to subsidiary.name, subsidiary_path(subsidiary) %>
<% end %>
